.add-playlist-btn {
    background-color: #1db954;
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    margin-left: 20px;
    padding: 10px;
    outline: none;
}
