.add-playlist-btn {
    background-color: black;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    margin-left: 20px;
    padding: 10px;
    outline: none;
}

.form-actions {
    margin-top: 10px;
}

#create-playlist {
    margin-right: 10px;
}
