.search-container {
    position: relative;
    height: 40px;
}

.search-container-overlay {
    height: 100%;
    width: 100%;
}

.search-input{
    height: inherit;
    width: 100%;
}


.search-input  input {
    background-color: black;
    border: 0.01rem solid white;
    color: white;
    height: inherit;
    outline: none;
    padding: 5px;
    width: 100%;
}
