.modal-content {
  color: black;
}

.modal-open {
  overflow-y: scroll!important;
  overflow-x: hidden!important;
  padding-right: 0!important;
}

.App {
  display: flex;
  flex-direction: row;
  max-width: 1400px;
  margin: 20px auto 0;
}

.App .left-content{
  flex-basis: 80%;
}

.App .right-content{
  flex-basis: 20%;
}
